*.vcx
*.vct
*.VCX
*.VCT
*.scx
*.sct
*.SCX
*.SCT
*.pjx
*.pjt
*.PJX
*.PJT
*.frx
*.frt
*.FRX
*.FRT
*.fxp
*.FXP
*.app
*.APP
*.exe
*.lnk
/src/source/.vscode
*.fpw
_command.prg
Source/Code/Compile/
*.cdx
*.fpt
*.dbf
*.CDX
*.DBF
*.FPT
*.ZIP
*.zip
*.7Z
*.7z
DB/common/err_log.dbf.xml
DB/common/logon.dbf.xml
DB/common/rptcondtest.dbf.xml
DB/common/structurelog.dbf.xml
_IGNORE
